.contacts {
  padding: 6% 10%;
  
  background-color: #e7526b;
  color: #ffffff;
}

.contacts .contacts-c {
  width: 50%;
}

.contacts .contacts-c h1 {
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.contacts .contacts-c .p1 {
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contacts {
    padding: 10% 5%;
    height: auto;
  }

  .contacts .contacts-c {
    width: 100%;
    text-align: center;
  }

  .contacts .contacts-c h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .contacts .contacts-c .p1 {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 769px) and (max-width: 962px) {
  .contacts {
    padding: 8% 8%;
    height: auto;
  }

  .contacts .contacts-c {
    width: 75%;
  }

  .contacts .contacts-c h1 {
    font-size: 18px;
    line-height: 28px;
  }

  .contacts .contacts-c .p1 {
    font-size: 15px;
    line-height: 26px;
  }
}
