.foot {
  height: 40vh;
  text-align: center;
  color: white;
  padding: 2% 4%;
  font-size: 14px;
  line-height: 36px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .foot {
    height: auto;
    padding: 5% 2%;
    font-size: 13.5px;
    line-height: 24px;
  }
}

@media (min-width: 769px) and (max-width: 962px) {
  .foot {
    height: auto;
    padding: 4% 3%;
    font-size: 15px;
    line-height: 28px;
  }
}
